.advantages {
  width: 62%;
  margin: 0 auto;
  padding-top: 114px;
  padding-bottom: 50px;
  max-width: 1171px;
  min-width: 950px;

  @media (max-width: $tablet-width) {
    max-width: none;
    min-width: auto;
    width: 93.5%;
    padding-top: 54px;
  }

  @media (max-width: $mobile-width) {
    width: 91%;
    padding-top: 37px;
  }
}

.advantages__list {
  @include list-style();
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: stretch;

  @media (max-width: $mobile-width) {
    flex-direction: column;
  }
}

.advantages__card {
  position: relative;
  align-self: stretch;
  cursor: pointer;
  min-height: 299px;
  box-sizing: border-box;
  width: calc(50% - 15px);
  background-color: var(--clear-background);
  border: 1px solid var(--light-border);
  border-left: 3px solid var(--main-theme);
  padding-top: 93px;
  padding-bottom: 49px;
  padding-left: 41px;
  padding-right: 41px;
  margin-right: 30px;
  margin-bottom: 30px;
  font-family: $font-pt-mono;

  & svg {
    @include pseudo(36px, 35px);
    left: 41px;
    top: 37px;
    background-repeat: no-repeat;
    fill: var(--main-theme);
  }

  &:nth-child(2n) {
    margin-right: 0;
  }

  &:nth-last-child(1),
  &:nth-last-child(2) {
    margin-bottom: 0;
  }

  h3 {
    font-family: $font-roboto-condensed;
    font-size: 24px;
    line-height: 34px;
    font-weight: 400;
    color: var(--main-theme);
    padding: 0;
    margin: 0;
    margin-bottom: 15px;
  }

  p {
    padding: 0;
    margin: 0;
    line-height: 22px;
  }

  &:hover {
    background-color: var(--main-theme);
    color: var(--contrast-type);

    h3 {
      color: var(--contrast-type);
    }

    svg {
      fill: var(--contrast-border);
    }
  }

  @media (max-width: $tablet-width) {
    min-height: 232px;
    padding-top: 67px;
    padding-bottom: 20px;
    padding-left: 24px;
    padding-right: 20px;
    margin-right: 30px;
    margin-bottom: 30px;

    h3 {
      margin-bottom: 7px;
    }

    svg {
      @include pseudo(36px, 35px);
      left: 24px;
      top: 23px;
      background-repeat: no-repeat;
    }
  }

  @media (max-width: $mobile-width) {
    min-height: 229px;
    width: 100%;
    padding-top: 70px;
    padding-bottom: 24px;
    padding-right: 15px;
    margin-bottom: 23px;

    &--time h3 {
      margin-bottom: 14px;
    }

    &--supplier {
      padding-right: 13px;
      padding-top: 65px;

      h3 {
        margin-bottom: 10px;
      }

      svg {
        width: 32px;
      }
    }

    &--confidence {
      padding-top: 65px;
      margin-bottom: 20px;

      h3 {
        margin-bottom: 18px;
      }

      svg {
        width: 32px;
      }
    }

    &--price {
      padding-top: 68px;

      h3 {
        margin-bottom: 20px;
      }

    }

    p {
      line-height: 21.5px;
    }

    &:nth-last-child(2) {
      margin-bottom: 24px;
    }

    h3 {
      font-size: 20px;
      line-height: 140.62%;
    }
  }
}
