.contacts {
  display: flex;
  align-items: center;
  padding-right: 2px;

  a {
    color: var(--contrast-type);
    text-decoration: none;
  }

  @media (max-width: $tablet-width) {
    a {
      font-size: 0;
      line-height: 0;
      padding-top: 26px;
      padding-left: 23px;

      &::before {
        width: 25px;
        height: 26px;
        left: 0;
        top: 0;
        background-repeat: no-repeat;
        background-size: contain;
      }
    }

    &>a {
      display: none;
    }
  }

  @media (max-width: $mobile-width) {
    padding-right: 0;
  }
}

.contacts__list {
  @include list-style();
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-right: 50px;

  @media (max-width: $tablet-width) {
    margin-right: 0;
  }
}

.contacts__item {
  margin-right: 81px;

  a {
    padding-left: 40px;
    line-height: 18px;
    position: relative;
    font-family: $font-pt-mono;

    &::before {
      @include pseudo(40px, 19px);
      left: 0;
      top: 0;
      background-repeat: no-repeat;
    }
  }


  &:last-of-type {
    margin-right: 0;
  }

  &--mail a::before {
    background-image: url("../img/icon-mail.svg");
    top: 2px;
  }

  &--phone a::before {
    background-image: url("../img/icon-phone.svg");
    left: 6px;
  }

  @media (max-width: $tablet-width) {
    margin-right: 35px;
    padding-top: 14px;

    a {
      font-size: 0;
      line-height: 0;
      padding-top: 26px;
      padding-left: 23px;

      &::before {
        width: 25px;
        height: 26px;
        left: 0;
        top: 0;
        background-repeat: no-repeat;
        background-size: contain;
      }
    }

    &--mail {
      padding-top: 20px;
    }
  }

  @media (max-width: $mobile-width) {
    margin-right: 25px;
  }
}

.contacts__button {
  @media (max-width: $tablet-width) {
    padding: 18px 30px;
  }
}
