.contacts {
  display: flex;
  align-items: center;
  padding-right: 2px;

  a {
    color: var(--contrast-type);
    text-decoration: none;
  }

  @media (max-width: $tablet-width) {
    a {
      font-size: 0;
      line-height: 0;
      padding-top: 26px;
      padding-left: 23px;
    }

    & > a {
      display: none;
    }
  }

  @media (max-width: $mobile-width) {
    padding-right: 0;
  }
}

.contacts__list {
  @include list-style();
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-right: 50px;

  @media (max-width: $tablet-width) {
    margin-right: 0;
  }
}

.contacts__item {
  margin-right: 81px;

  &:last-of-type {
    margin-right: 0;
  }

  &--phone svg {
    left: 6px;
  }

  @media (max-width: $tablet-width) {
    margin-right: 35px;
    padding-top: 14px;

    &--mail {
      padding-top: 20px;
    }
  }

  @media (max-width: $mobile-width) {
    margin-right: 25px;
  }
}

.contacts__link {
  padding-left: 40px;
  line-height: 18px;
  position: relative;
  font-family: $font-pt-mono;

  svg {
    @include pseudo(40px, 19px);
    left: 0;
    top: -1px;
    background-repeat: no-repeat;
    fill: var(--main-theme);
    width: 18px;
  }

  &:hover,
  &:focus {
    text-shadow: var(--main-theme) 0 0 5px;

    svg {
      fill: var(--contrast-border);
      stroke: var(--main-theme)
    }
  }

  @media (max-width: $tablet-width) {
    font-size: 0;
    line-height: 0;
    padding-top: 26px;
    padding-left: 23px;

    svg {
      width: 25px;
      height: 26px;
      left: 0;
      top: 0;
      background-repeat: no-repeat;
      background-size: contain;
    }
  }
}

.contacts__button {
  flex-shrink: 0;
  align-self: flex-start;

  &:hover,
  &:focus {
    opacity: 0.7;
  }

  &:active {
    opacity: 1;
    background-color: var(--main-theme);
  }

  @media (max-width: $tablet-width) {
    padding: 18px 30px;
  }
}
