@import "../variables.scss";

.feedback {
  padding-top: 94px;
  padding-bottom: 113px;
  min-width: 220px;
  background-color: var(--main-theme);
  background-image: url("../img/paper-airplane@1x.webp"), url("../img/form-triangles.svg");
  background-repeat: no-repeat;
  background-position: calc(40% - 215px) 42%, 50% 63%;
  color: var(--contrast-type);

  &__wrapper {
    width: 61.5%;
    margin: 0 auto;
    box-sizing: border-box;
    min-width: 950px;
    max-width: 1171px;
  }

  &__content {
    box-sizing: border-box;
    padding-left: 15px;
    width: 50%;
    margin-left: auto;
  }
}

@media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
  .feedback {
    background-image: url("../img/paper-airplane@2x.webp"), url("../img/form-triangles.svg");
    background-size: 510px, cover;
  }
}

@media (max-width: $tablet-width) {
  .feedback {
    background-image: none;
    padding-top: 80px;
    padding-left: 57px;
    padding-right: 67px;
    padding-bottom: 102px;

    &__wrapper {
      width: 94%;
      min-width: auto;
      max-width: none;
    }

    &__content {
      width: 100%;
      margin: 0 auto;
    }
  }
}

@media (max-width: $mobile-width) {
  .feedback {
    padding-top: 31px;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 42px;

    &__wrapper {
      width: 91%;
    }

    &__content {
      padding-left: 0;
    }
  }
}
