.popup {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: auto;
}

.popup--showing {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  grid-template-rows: 1fr min-content 1fr;
  position: fixed;

  @media (max-width: $mobile-width) {
    grid-template-columns: auto;
  }
}

.popup--closed {
  display: none;
  position: relative;
}

.popup__form {
  position: relative;
  grid-column-start: 2;
  grid-row-start: 2;
  box-shadow: 0 5px 10px 0 rgba(0, 1, 1, 0.25);

  @media (max-width: $mobile-width) {
    left: 0;
  }
}
