.services {
  min-width: 220px;
  background-color: var(--dark-background);
  color: var(--contrast-type);
  padding-top: 90px;
  padding-bottom: 96px;

  @media (max-width: $tablet-width) {
    padding-top: 50px;
    padding-bottom: 80px;
  }

  @media (max-width: $mobile-width) {
    padding-bottom: 63px;
  }
}

.services__wrapper {
  background-color: var(--dark-background);
  width: 62%;
  margin: 0 auto;
  min-width: 950px;
  max-width: 1171px;

  @media (max-width: $tablet-width) {
    min-width: auto;
    max-width: none;
    width: 93%;
  }

  @media (max-width: $mobile-width) {
    width: 91%;
  }
}

.services__heading {
  font-family: $font-roboto-condensed;
  font-weight: 400;
  font-size: 36px;
  line-height: 51px;
  padding: 0;
  margin-top: 0;
  margin-bottom: 50px;

  @media (max-width: $tablet-width) {
    font-size: 32px;
    line-height: 45px;
  }

  @media (max-width: $mobile-width) {
    font-size: 28px;
    line-height: 39px;
    padding-left: 11px;
    margin-bottom: 43px;
  }
}

.services__list {
  display: flex;
  flex-wrap: wrap;
  @include list-style();

  @media (max-width: $tablet-width) {
    flex-direction: column;
  }
}

.services__item {
  margin-right: 30px;
  margin-bottom: 30px;
  width: calc(33.3% - 20px);

  &:nth-child(3n) {
    margin-right: 0;
  }

  @media (max-width: $tablet-width) {
    width: 100%;
    margin-right: 0;
    margin-bottom: 47px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  @media (max-width: $mobile-width) {
    margin-bottom: 32px;
  }
}

.services__card {
  position: relative;
  display: block;
  box-sizing: border-box;
  text-decoration: none;
  color: var(--contrast-type);
  background-color: var(--services-card-background);
  font-family: $font-roboto-condensed;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  padding-top: 51px;
  padding-bottom: 53px;
  padding-left: 44px;
  padding-right: 155px;
  min-height: 621px;
  background-repeat: no-repeat;
  background-size: cover;

  &:hover,
  &:focus {
    opacity: 0.7;
  }

  &::before {
    z-index: 1;
    @include pseudo(6px, 6px);
    border-top: 1px solid var(--contrast-border);
    border-right: 1px solid var(--contrast-border);
    transform: rotate(45deg);
    right: 26px;
    bottom: 28px;
  }

  &::after {
    @include pseudo(63px, 63px);
    background-color: var(--main-theme);
    right: 0;
    bottom: 0;
  }

  &--production {
    background-image: url("../img/producing-desktop@1x.webp");
  }

  &--instalation {
    background-image: url("../img/installing-desktop@1x.webp");
  }

  &--led {
    background-image: url("../img/led-desktop@1x.webp");
  }

  @media (min-resolution: $retina-dpi),
  (min-resolution: $retina-dppx) {
    &--production {
      background-image: url("../img/producing-desktop@2x.webp");
    }

    &--instalation {
      background-image: url("../img/installing-desktop@2x.webp");
    }

    &--led {
      background-image: url("../img/led-desktop@2x.webp");
    }
  }

  @media (max-width: $tablet-width) {
    min-height: 254px;
    padding-top: 39px;
    padding-right: 505px;
    padding-left: 43px;
    padding-bottom: 39px;

    &--production {
      background-image: url("../img/producing-tablet@1x.webp");
    }

    &--instalation {
      background-image: url("../img/installing-tablet@1x.webp");
    }

    &--led {
      padding-top: 52px;
      background-image: url("../img/led-tablet@1x.webp");
    }

    @media (min-resolution: $retina-dpi),
    (min-resolution: $retina-dppx) {
      &--production {
        background-image: url("../img/producing-tablet@2x.webp");
      }

      &--instalation {
        background-image: url("../img/installing-tablet@2x.webp");
      }

      &--led {
        background-image: url("../img/led-tablet@2x.webp");
      }
    }
  }

  @media (max-width: $mobile-width) {
    padding-left: 35px;
    padding-right: 85px;
    padding-top: 19px;
    padding-bottom: 19px;

    &::before {
      right: 31px;
      bottom: 29px;
    }

    &--production {
      background-image: url("../img/producing-mobile@1x.webp");
    }

    &--instalation {
      background-image: url("../img/installing-mobile@1x.webp");
    }

    &--led {
      padding-top: 29px;
      background-image: url("../img/led-mobile@1x.webp");
    }

    @media (min-resolution: $retina-dpi),
    (min-resolution: $retina-dppx) {
      &--production {
        background-image: url("../img/producing-mobile@2x.webp");
      }

      &--instalation {
        background-image: url("../img/installing-mobile@2x.webp");
      }

      &--led {
        background-image: url("../img/led-mobile@2x.webp");
      }
    }
  }
}
