.top-section {
  min-width: 220px;
  background-color: var(--dark-background);
  background-image: url("../img/dark-background@1x.png"),
    url("../img/circuit-desktop@1x.png"),
    url("../img/top-background-transparent.svg");
  background-image: url("../img/dark-background@1x.webp"),
    url("../img/circuit-desktop@1x.webp"),
    url("../img/top-background-transparent.svg");
  background-size: cover, auto, 35.4%;
  background-repeat: no-repeat;
  background-position: 80% 50%, 85.9% 70.9%, 82.9% 49.5%;

  @media (min-resolution: $retina-dpi),
  (min-resolution: $retina-dppx) {
    background-image: url("../img/dark-background@2x.png"),
      url("../img/circuit-desktop@2x.png"),
      url("../img/top-background-transparent.svg");
    background-image: url("../img/dark-background@2x.webp"),
      url("../img/circuit-desktop@2x.webp"),
      url("../img/top-background-transparent.svg");
    background-size: cover, 705px 515px, 35%;
  }

  @media (max-width: $tablet-width) {
    background-image: url("../img/dark-background@1x.png"),
      url("../img/circuit-tablet@1x.png"),
      url("../img/top-background-transparent.svg");
    background-position: 50%, right 0 top 113px, right -200px top -40px;
    background-size: cover, 260px 340px, 68.7%;

    @media (min-resolution: $retina-dpi),
    (min-resolution: $retina-dppx) {
      background-image: url("../img/dark-background@2x.png"),
        url("../img/circuit-tablet@2x.png"),
        url("../img/top-background-transparent.svg");
    }
  }

  @media (max-width: $mobile-width) {
    background-image: url("../img/dark-background@1x.png"),
      url("../img/circuit-mobile@1x.png"),
      url("../img/top-background-transparent.svg");
    background-size: cover, 294px 220px, 157%;
    background-position: 50%, right 0 top 92px, right -335px top -45px;

    @media (min-resolution: $retina-dpi),
    (min-resolution: $retina-dppx) {
      background-image: url("../img/dark-background@2x.png"),
        url("../img/circuit-mobile@2x.png"),
        url("../img/top-background-transparent.svg");
    }
  }
}

.top-section__content {
  box-sizing: border-box;
  position: relative;
}

.top-section__heading {
  padding: 0;
  margin: 0;
  font-family: $font-roboto-condensed;
  font-size: 80px;
  line-height: 94px;
  font-weight: 700;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  color: var(--contrast-type);
  margin-bottom: 26px;

  @media (max-width: $tablet-width) {
    font-size: 60px;
    line-height: 70px;
    margin-bottom: 27px;
  }

  @media (max-width: $mobile-width) {
    font-size: 40px;
    line-height: 47px;
    margin-bottom: 26px;
  }
}

.top-section__description {
  position: relative;
  box-sizing: border-box;
  font-size: 22px;
  line-height: 34px;
  color: var(--contrast-type);
  width: 55%;
  margin: 0;
  padding: 0;
  padding-left: 97px;
  margin-bottom: 44px;
  font-family: $font-pt-mono;

  &::before {
    @include pseudo(66px, 2px);
    background-color: #ffffff;
    left: 3px;
    top: 17px;
  }

  @media (max-width: $tablet-width) {
    font-size: 18px;
    line-height: 156.8%;
    padding-left: 51px;
    margin-bottom: 55px;
    width: 100%;

    &::before {
      width: 32px;
    }
  }

  @media (max-width: $mobile-width) {
    font-size: 16px;
    margin-bottom: 43px;
    width: 100%;
  }
}

.top-section__wrapper {
  width: 75%;
  margin: 0 auto;
  padding-top: 204px;
  padding-bottom: 181px;
  max-width: 1421px;

  @media (max-width: $tablet-width) {
    box-sizing: border-box;
    width: 77%;
    padding-top: 91px;
    padding-right: 90px;
    padding-bottom: 164px;
    max-width: none;
  }

  @media (max-width: $mobile-width) {
    width: 90%;
    padding-top: 204px;
    padding-right: 0;
    padding-bottom: 69px;
  }
}

.top-section__button-wrapper {
  padding-left: 97px;
  margin-bottom: 95px;

  @media (max-width: $tablet-width) {
    padding-left: 52px;
    margin-bottom: 0;
  }

  @media (max-width: $mobile-width) {
    text-align: center;
    padding-left: 4px;
  }
}

.top-section__button {
  width: 408px;
  background-color: var(--main-theme);
  border: none;
  font-size: 16px;
  line-height: 19px;
  padding-left: 45px;
  padding-right: 45px;
  padding-top: 17px;
  padding-bottom: 19px;

  &:hover,
  &:focus {
    opacity: 0.7;
  }

  &:active {
    opacity: 1;
    background-color: var(--theme-hover);
  }

  @media (max-width: $tablet-width) {
    width: 378px;
    padding: 18px 30px;
  }

  @media (max-width: $mobile-width) {
    width: 100%;
  }
}
