@mixin list-style($pd:0, $mg:0, $ls:none) {
  padding: $pd;
  margin: $mg;
  list-style: $ls;
}

@mixin pseudo($width, $height) {
  position: absolute;
  content: "";
  width: $width;
  height: $height;
}

@mixin notext-button ($width, $height) {
  font-size: 0;
  line-height: 0;
  width: $width;
  height: $height;
  cursor: pointer;
  border: none;
  background-color: transparent;
}