@import "normalize.scss";
@import "variables.scss";
@import "global.scss";
@import "blocks/page.scss";
@import "blocks/page-header.scss";
@import "blocks/top-section.scss";
@import "blocks/contacts.scss";
@import "blocks/background.scss";
@import "blocks/advantages.scss";
@import "blocks/about.scss";
@import "blocks/services.scss";
@import "blocks/feedback.scss";
@import "blocks/form.scss";
@import "blocks/page-footer.scss";
@import "blocks/social-list.scss";
@import "blocks/navigation.scss";
@import "blocks/popup.scss";
