:root {
  --main-theme: #00b2ff;
  --theme-hover: #00a7ff;
  --basic-type: #666666;
  --dark-background: #1b2d37;
  --clear-background: #ffffff;
  --contrast-type: #ffffff;
  --contrast-border: var(--contrast-type);
  --light-border: #ebebeb;
  --services-card-background: #26353d;
  --form-input-background: rgba(256, 256, 256, 0.1);
}

$font-roboto-condensed: "Roboto Condensed", "Arial", sans-serif;
$font-pt-mono: "PT Mono", "Courier", monospace;

$tablet-width: 1023px;
$mobile-width: 767px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
